@model psychoTest.Models.Organisations.Views.Index

@{
    ViewBag.Title = Model.name;
    Layout = Layout = "/Views/Shared/_Cabinet.cshtml";
}

<h2>@Model.name</h2>
<ul>
    <li><a href="/organisation/changename?id=@Model.id&newval=новое название">изменить название</a></li>
    <li>
        Дата создания: @Model.dateCreate
    </li>
    <li>
        @if (!Model.moderated && psychoTest.Core.Membership.isAdmin())
        {
            @:Статус: <a href="/organisation/moderate?id=@Model.id">подтвердить</a>
        }
        else
        {
            @("Статус: " + (Model.moderated ? "подтверждена" : "на модерации"))
        }
    </li>
    <li>
        <a href="/organisation/users?orgId=@Model.id">Пользователи</a>: @Model.usersCount
    </li>
</ul>

@if (Model.joinRequests.Count() > 0)
{
    <h4>Заявки на присоединение</h4>
    <ul>
        @foreach (psychoTest.Models.AspNetUser user in Model.joinRequests)
        {
            <li>
                @user.Email, @user.Surname @user.Name @user.Patronim, @user.PhoneNumber
                <br/>
                <a href="/organisation/acceptjoinrequest?userEmail=@user.Email&orgId=@Model.id">Принять</a>
            </li>
        }
    </ul>
}
