@model psychoTest.Models.Organisations.Views.Users
@{
    ViewBag.Title = "Пользователи";
    Layout = Layout = "/Views/Shared/_Cabinet.cshtml";
}

<h2>@ViewBag.Title</h2>



<a href="/organisation/usercu?orgId=@Model.orgId">Добавить пользователя</a> | <a href="/organisation/usersimport?orgId=@Model.orgId">Загрузка из файла</a>
<div class='checkcontainer'>
    Показать: 
    <input type='checkbox' name='filter' checked  value="Актор" /> Акторов<br />
    <input type='checkbox' name='filter' checked  value="Контролёр" /> Контролёров<br />
    <input type='checkbox' name='filter' checked  value="Зритель" /> Зрителей<br />
    <input type='checkbox' name='filter' checked  value="Менеджер" /> Менеджеров<br />

    <a href="#">Акторов</a> | <a href="#">Контролёров</a> | <a href="#">Зрителей</a> | <a href="#">Менеджеров</a>
</div>

<table class="table datatbl sort sortable">
        <thead>
        <tr id='filter_table'>
            <th class="surname"> 
<input autocomplete='off' class='filter' id='surname' placeholder='Фамилия' />			
                
            </th>
            <th class="name">    
 <input autocomplete='off' class='filter' id='name' placeholder='Имя' />            
                
            </th>
            <th class="patronim">  
<input autocomplete='off' class='filter' id='patronim' placeholder='Отчество' />			
                
            </th>
            <th class="email">   
<input autocomplete='off' class='filter' id='email' placeholder='Почта' />			
                
            </th>
            <th class="phone">  
<input autocomplete='off' class='filter' id='phone' placeholder='Телефон' />			
                
            </th>
            <th class="">
                Роль
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (psychoTest.Models.Organisations.Views.UsersUserEntity user in Model.orgUsers)
        {
            <tr data-rowtype="@if (user.roles != null){@user.roles.Replace("manager", "Менеджер").Replace("actor", "Актор").Replace("inspector", "Контролёр").Replace("viewer", "Зритель")}">
                <td class="surname">
                    @user.surname
                </td>
                <td class="name">
                    @user.name
                </td>
                <td class="patronim">
                    @user.patronim
                </td>
                <td class="email">
                    @user.email
                </td>
                <td class="phone">
                    @user.phone
                </td>
                <td class="role">@if (user.roles != null){@user.roles.Replace("manager", "Менеджер").Replace("actor", "Актор").Replace("inspector", "Контролёр").Replace("viewer", "Зритель")}</td>
            
            </tr>
        }
    </tbody>
</table> 


@Scripts.Render("/scripts/libcore.js")

@Scripts.Render($"/scripts/pages/{Request.Url.LocalPath.Trim('/').Replace("/", "_")}.js")