@model psychoTest.Models.Organisations.Views.Users
@{
    ViewBag.Title = "Пользователи";
    Layout = Layout = "/Views/Shared/_Cabinet.cshtml";
}

<h2>@ViewBag.Title</h2>



<a href="/organisation/usercu?orgId=@Model.orgId">Добавить пользователя</a> | <a href="/organisation/usersimport?orgId=@Model.orgId">Загрузка из файла</a>
<div class='checkcontainer'>
    Показать: 
    <input type='checkbox' name='filter' checked  value="Актор" /> Акторов<br />
    <input type='checkbox' name='filter' checked  value="Контролёр" /> Контролёров<br />
    <input type='checkbox' name='filter' checked  value="Зритель" /> Зрителей<br />
    <input type='checkbox' name='filter' checked  value="Менеджер" /> Менеджеров<br />

    <a href="#">Акторов</a> | <a href="#">Контролёров</a> | <a href="#">Зрителей</a> | <a href="#">Менеджеров</a>
</div>

<div class='filters'>
    <div class='filter-container'>
        <input autocomplete='off' class='filter' name='surname' placeholder='Фамилия' data-col='Фамилия' />
    </div>
    <div class='filter-container'>
        <input autocomplete='off' class='filter' name='name' placeholder='Имя' data-col='Имя' />
    </div>
    <div class='filter-container'>
        <input autocomplete='off' class='filter' name='patronim' placeholder='Отчество' data-col='Отчество' />
    </div>
    <div class='filter-container'>
        <input autocomplete='off' class='filter' name='email' placeholder='Почта' data-col='Почта' />
    </div>
    <div class='filter-container'>
        <input autocomplete='off' class='filter' name='phone' placeholder='Телефон' data-col='Телефон' />
    </div>
    <div class='clearfix'></div>
</div>

<table class="table datatbl sort sortable">
    <thead>
        <tr id='filter_table'>
            <th class="surname">                
                Фамилия
            </th>
            <th class="name">                
                Имя
            </th>
            <th class="patronim">               
                Отчество
            </th>
            <th class="email">               
                Почта
            </th>
            <th class="phone">              
                Телефон
            </th>
            <th class="">
                Роли
            </th>
            <th class="nosort">
                Результаты
            </th>
            <th class="nosort">

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (psychoTest.Models.Organisations.Views.UsersUserEntity user in Model.orgUsers)
        {
            <tr data-rowtype="@if (user.roles != null){@user.roles.Replace("manager", "Менеджер").Replace("actor", "Актор").Replace("inspector", "Контролёр").Replace("viewer", "Зритель")}">
                <td class="surname">
                    @user.surname
                </td>
                <td class="name">
                    @user.name
                </td>
                <td class="patronim">
                    @user.patronim
                </td>
                <td class="email">
                    @user.email
                </td>
                <td class="phone">
                    @user.phone
                </td>
                <td class="role">@if (user.roles != null){@user.roles.Replace("manager", "Менеджер").Replace("actor", "Актор").Replace("inspector", "Контролёр").Replace("viewer", "Зритель")}</td>
                <td>
                    <a href="#">Ссылка</a>
                </td>
                <td>
                    <a href="/organisation/usercu?orgId=@Model.orgId&userId=@user.id">Редактировать</a> | <a href="/organisation/userdelete?orgId=@Model.orgId&userId=@user.id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table> 


@Scripts.Render("/scripts/libcore.js")

@Scripts.Render($"/scripts/pages/{Request.Url.LocalPath.Trim('/').Replace("/", "_")}.js")