@using psychoTest.Models
@using psychoTest.Core
@model LoginViewModel

<div>
    <form action="/account/login" method="post">
        <input type="hidden" name="ReturnUrl" value="@Request.QueryString[RequestVars.returnUrl]" />
        @Html.AntiForgeryToken()
        <div id="loginValidate" class="inputValidateErrorDescr"></div>
        <input type="text" name="Login" id="login" placeholder="Электронная почта"/>
        <br />
        <div id="passwordValidate" class="inputValidateErrorDescr"></div>
        <input type="password" name="Password" id="password" placeholder="Пароль" />
        <br />
        <label><input type="checkbox" name="RememberMe" />Запомнить меня</label>
        <br />
        <input type="submit" value="Войти" class="btn btn-default" />
        <br />
        <a href="/account/forgotpassword">Забыли пароль?</a>
        <br />
        <a href="/account/register">Зарегистрироваться</a>
    </form>
</div>

@Scripts.Render("/scripts/pnb.js")
@Scripts.Render("/scripts/pnb.validation.js")
@Scripts.Render($"/scripts/pages/{Request.Url.LocalPath.Trim('/').Replace("/", "_")}.js")