<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (String.IsNullOrEmpty(ViewBag.Title))
    {
        ViewBag.Title = "Полезные привычки";
    }
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/site.css")
    @Scripts.Render("/scripts/jquery-3.1.1.min.js")
</head>
<body>
    <div class="devDiv">        
        <i>Главное меню</i><br/>
        <a jref="/">Полезные привычки</a>
        | <a href="/research/go">Заполнить анкету</a>
        | <a href="/about">О сервисе</a>
        @Html.Partial("_LoginPartial")
    </div>
    <div class="container body-content">
        <div id="globalInfoPanel">
            @if (ViewData["serverError"] != null)
            {
                <div>
                    @ViewData["serverError"]
                </div>
            }
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 1998—@DateTime.Now.Year <a href="http://www.psycho.ru" target="_blank">psycho.ru</a></p>
        </footer>
    </div>
    
</body>
</html>
