@model psychoTest.Models.Researches.Views.Index
@{
    ViewBag.Title = "Исследования";
    Layout = "~/Views/Shared/_Cabinet.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (psychoTest.Core.Membership.isAdmin() || psychoTest.Core.Membership.isManager(Model.orgId))
{
    <div>
        <a href="/research/create?@psychoTest.Core.RequestVals.orgId=@Model.orgId">Создать исследование</a>
    </div>
}

@if (psychoTest.Core.Membership.isAdmin() || psychoTest.Core.Membership.isManager(Model.orgId))
{
    <input type="hidden" id="rTAllowCRUD" value="true" />
}

<div id="modalDeleteScreen" class="devModalWindow">
    <div id="modalDeleteWindow">
        <div id="modalDeleteMessage">
        </div>
        <label><input type="checkbox" id="modalDeleteConfirmCheckBox" />Я подтверждаю удаление исследования</label>
        <div class="devValidateError" id="modalDeleteError" style="display: none;">
            <p>Произошла ошибка, которая уже устраняется.</p>
            <p>Попробуйте повторить операцию позже, или напишите в службу поддержки.</p>
        </div>
        <br /><input type="button" id="modalDeleteOk" value="Удалить" disabled />
        <input type="button" id="modalDeleteCancel" value="Отмена" />
    </div>
</div>

<div id="researchesTable"></div>

@Scripts.Render("/scripts/libcore.js")
@Scripts.Render("/scripts/libuigrid.js")

@Scripts.Render("/scripts/pnb.js")
@Scripts.Render("/scripts/pnb.ui.js")
@Scripts.Render("/scripts/pnb.ui.grid.js")

@Scripts.Render($"/scripts/pages/{Request.Url.LocalPath.Trim('/').Replace("/", "_")}.js")