@model psychoTest.Models.Researches.Views.Show
@{
    ViewBag.Title = Model.name;
    Layout = "~/Views/Shared/_Cabinet.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="devDiv">
    Сводка
    <div>
        Кодовое слово: <div id="ajaxchangetextvalue_research_setpassword"></div>
        <input type="hidden" id="val_research_setpassword" value="@Model.password"/>
    </div>
</div>
<div class="devDiv">
    Сценарий
    <div>
        @if (psychoTest.Core.Membership.isAdmin() || psychoTest.Core.Membership.isManager(Model.orgId))
        {
            var scenarioLink = $@"/research/scenariocu?{psychoTest.Core.RequestVals.orgId}={Model.orgId}&{psychoTest.Core.RequestVals.researchId}={Model.researchId}";
            @Html.Raw("|") <a href="@scenarioLink">изменить</a>
        }
    </div>
</div>
<div class="devDiv">
    Результаты
</div>

@Scripts.Render("/scripts/libcore.js")
@Scripts.Render($"/scripts/pages/{Request.Url.LocalPath.Trim('/').Replace("/", "_")}.js")