@model psychoTest.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Смена пароля";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
   
    @Html.Hidden("userId", Request.QueryString["userId"])
<dl class="dl-horizontal">  
    <div id="idpass"></div> 
    <dd><span id="validpass"></span>  </dd>
    <dd>
        <input type="submit" value="Изменить" id="btnSubmit" class="btn btn-default" disabled />
    </dd>
</dl> 
}


    @Scripts.Render("/scripts/libcore.js")
    @Scripts.Render("/scripts/libuipasswordchanger.js")
    @Scripts.Render($"/scripts/pages/{Request.Url.LocalPath.Trim('/').Replace("/", "_")}.js")
