@using Microsoft.AspNet.Identity;

@model psychoTest.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    var userId = Request.QueryString["userId"];
    if (userId == null)
    {
        userId = User.Identity.GetUserId();
    }
}

<h2>@ViewBag.Title.</h2>
<input type="hidden" id="userId" value="@userId" />
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <input type="hidden" value="@userId" id="userId" /> 
    <dl class="dl-horizontal">
        <dt>Фамилия:</dt>
        <dd>
            <div id="_manage_surnamechange"></div>
            <input type="hidden" id="val_manage_surnamechange" value="@Model.surname" />
        </dd>
        <dt>Имя:</dt>
        <dd>
            <div id="_manage_namechange"></div>
            <input type="hidden" id="val_manage_namechange" value="@Model.name" />
        </dd>
        <dt>Отчество:</dt>
        <dd>
            <div id="_manage_patronimchange"></div>
            <input type="hidden" id="val_manage_patronimchange" value="@Model.patronim" />
        </dd>
        <dt>Пол:</dt>
        <dd>           
            <div id="_manage_sexchange"></div>
            <div id="radiolist"></div>
            <input type="hidden" id="val_manage_sexchange" value="@Model.sex" />
        </dd>
        <dt>Электронная почта:</dt>
        <dd>
        <dd>
            <div id="_manage_emailchange"></div>
            <input type="hidden" id="val_manage_emailchange" value="@Model.email" />
        </dd>  
        <dd>          
            @if (Model.EmailConfirmed)
            {
                @Html.Raw("подтверждена")
            }
            else
            {
                <a href="/manage/confirmemailrequest?userId=@userId" target="_blank">подтвердить</a>
            }
        </dd>
        <dt>Номер телефона:</dt>
        <dd>         
            <div id="_manage_phonechange"></div>
            <input type="hidden" id="val_manage_phonechange" value="@Model.PhoneNumber" />           
            @if (Model.PhoneNumberConfirmed)
            {
                @Html.Raw("подтвержден")
            }
            else
            {
                <a href="/manage/verifyphonenumber?userId=@userId" target="_blank">подтвердить</a>
            }
        </dd>
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                <a href="/manage/changepassword?userId=@userId">Сменить пароль</a>
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        @if (Model.organisation != null)
        {
            <dt>Организация:</dt>
            <dd>@Model.organisation.name</dd>
        }
        else if (User.IsInRole("admin"))
        {
            <dt>Организация:</dt>
            <dd>
                <div id="formOrg">
                    @using (Html.BeginForm("JoinRequest", "Organisation", FormMethod.Post))
                {
                        @Html.AntiForgeryToken()
                        <input type="text" placeholder="Название организации" id="orgName" name="orgName" />
                        <input type="hidden" name="orgId" id="orgId" value="" />
                        <input type="hidden" name="userEmail" id="userEmail" value="@Model.email" />
                        <input type="submit" id="orgSubmit" value="Отправить запрос" />
                    }
                    <div class="hidden"></div>
                </div>
            </dd>     
        }
    </dl>
</div>

@Scripts.Render("/scripts/jquery.auto-complete.js")
@Scripts.Render("/scripts/libcore.js")
@Scripts.Render("/scripts/libuieditableinput.js")
@Scripts.Render("/scripts/libuiradiolist.js")
@Scripts.Render($"/scripts/pages/{Request.Url.LocalPath.Trim('/').Replace("/", "_")}.js")