@using Microsoft.AspNet.Identity;

@model psychoTest.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    var userId = Request.QueryString["userId"];
    if (userId == null)
    {
        userId = User.Identity.GetUserId();
    }
}

<h2>@ViewBag.Title.</h2>
<input type="hidden" id="userId" value="@userId" />
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Фамилия:</dt>
        <dd>
            @Model.surname
            &nbsp;<a href="/manage/surnamechange?newval=123&userId=@userId" target="_blank">изменить</a>

            <div id="_manage_surnamechange"></div>
            <input type="hidden" id="val_manage_surnamechange" value="@Model.surname" />
        </dd>
        <dt>Имя:</dt>
        <dd>
            @Model.name
            &nbsp;<a href="/manage/namechange?newval=456&userId=@userId" target="_blank">изменить</a>
        </dd>
        <dt>Отчество:</dt>
        <dd>
            @Model.patronim
            &nbsp;<a href="/manage/patronimchange?newval=789&userId=@userId" target="_blank">изменить</a>
        </dd>
        <dt>Пол:</dt>
        <dd>
            @Model.sex
            &nbsp;<a href="/manage/sexchange?newval=0&userId=@userId" target="_blank">изменить</a>
        </dd>
        <dt>Электронная почта:</dt>
        <dd>
            @Model.email
            &nbsp;<a href="/manage/emailchange?newval=test@test.com&userId=@userId" target="_blank">изменить</a>
            @if (Model.EmailConfirmed)
            {
                @Html.Raw("подтверждена")
            }
            else
            {
                <a href="/manage/confirmemailrequest?userId=@userId" target="_blank">подтвердить</a>
            }
        </dd>
        <dt>Номер телефона:</dt>
        <dd>
            @Model.PhoneNumber
            &nbsp;<a href="/manage/phonechange?newval=88007000000&userId=@userId" target="_blank">изменить</a>
            @if (Model.PhoneNumberConfirmed)
            {
                @Html.Raw("подтвержден")
            }
            else
            {
                <a href="/manage/verifyphonenumber?userId=@userId" target="_blank">подтвердить</a>
            }
        </dd>
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                <a href="/manage/changepassword?userId=@userId">Сменить пароль</a>
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        @if (Model.organisation != null)
        {
            <dt>Организация:</dt>
            <dd>@Model.organisation.name</dd>
        }
        else if (User.IsInRole("admin"))
        {
            <dt>Организация:</dt>
            <dd>
                @using (Html.BeginForm("JoinRequest", "Organisation", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="text" placeholder="Название организации" name="orgName" />
                    <input type="hidden" name="userEmail" value="@Model.email" />
                    <input type="submit" value="Отправить запрос" />
                }
            </dd>
        }
    </dl>
</div>

@Scripts.Render("/scripts/libcore.js")
@Scripts.Render("/scripts/libuieditableinput.js")
@Scripts.Render($"/scripts/pages/{Request.Url.LocalPath.Trim('/').Replace("/", "_")}.js")